.topbar {
  padding: 8px 16px;
  position: relative;

  .bgbase {
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  .status-bar {
    display: flex;
    justify-content: space-between;

    .status-bar-time {
      width: 40px;
      height: 10px;
      @extend .bgbase;
    }

    .status-bar-icons {
      width: 50px;
      height: 10px;
      @extend .bgbase;
    }
  }

  .title {
    text-align: center;
    color: #fff;
    margin-top: 16px;
    font-size: 1rem;
  }

  .button {
    width: 70px;
    height: 32px;
    @extend .bgbase;
    position: absolute;
    bottom: 4px;
    right: 8px;
  }
}