.main-content{
  padding: 20px 0;
  .btn-content{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    .btn-line{
      display: flex;
      align-items: center;
      margin: 5px 0;
      width: 300px;
      justify-content: space-between;
    }
    .select{
      width: 128px;
      height: 36px;
      border-color: #E1E1E1;
      background: #F7FAFB;
    }
  }
  .detail-content{
    width: 100%;
    height: 130px;
    padding: 18px 12px;
    background: #F7FAFB;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 10px 0;
  }
}