.main-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title-tabs{
    display: flex;
    align-items: center;
    color: #C6C6C6;
    font-size: 24px;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 40px;
    .title-tab{
      cursor: no-drop;
      color: #333333;
      &.active{
        color: #6e68fc;
        cursor: pointer;
      }
    }
  }
  .items-content{
    min-width: 1200px;
    padding: 40px;
    background: white;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .empty{
      height: 200px;
      background: white url('../../../assets/img/nodata.svg') 50% 50% no-repeat;
      border-radius: 6px;
      line-height: 260px;
      box-sizing: border-box;
      text-align: center;
      width: 100%;
    }
    .item-box{
      width: 100%;
      height: 180px;
      background: #F7FAFB;
      border-radius: 10px;
      margin: 10px 0;
      padding: 20px ;
      display: flex;
      justify-content: space-between;
      .desc-part{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .title-line{
          font-size: 22px;
          color: #333333;
          line-height: 40px;
          display: flex;
          align-items: center;
          .app-type, .client-type, .status-type, .expired-type{
            height: 18px;
            line-height: 18px;
            border: 1px solid transparent;
            border-radius: 2px;
            text-align: center;
            padding: 0 8px;
            font-size: 12px;
            margin: 0 4px;
          }
          .app-type{
            color: #6e68fc;
            border-color: #6e68fc !important;
            margin-left: 11px;
          }
          .client-type{
            color: #62CC95;
            border-color: #62CC95;
          }
          .status-type{
            color: #6898FC;
            border-color: #6898FC;
          }
          .expired-type{
            color: #333333;
            border-color: #333333;
          }
        }
        .status-line{
          font-size: 14px;
          line-height: 30px;
          color: #666666;
          display: flex;
          align-items: center;
          .qr-box{
            margin-left: 8px;
            cursor: pointer;
            color: #6e68fc;
          }
          .type-box{
            margin-right: 8px;
          }
        }
        .btns-line{
          margin: 20px 0;
          button{
            margin-right: 14px;
            width: 80px;
            height: 28px;
          }
          .btn{
            color: white;
            border: none;
            background: #62CC95;
            &:hover{
              opacity: 0.85;
            }
          }
        }
      }
      .data-part{
        button{
          margin: 10px;
        }
      }
    }
  }
  .create-content{
    width: 100%;
    height: 605px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 35px 29px;
    box-sizing: border-box;
    .banner{
      margin-bottom: 49px;
    }
    .add-btn{
      width: 328px;
      height: 60px;
      font-size: 14px;
    }
  }
}

.service-line{
  width: 100%;
  margin: 50px 0 0;
  color: black;
  .title{
    font-size: 36px;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
  }
  .banner-line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner-item{
      width: 280px;
      height: 220px;
      border-radius: 8px;
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px;
      i{
        font-size: 40px;
        margin: 20px 0;
      }
    }
  }
}