.signinPage {
    width: 100%;
    height: 100%;
  }
  
  .signinContainer {
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 841px;
    height: 500px;
    padding: 20px 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    background: #fff;
  }
  
  .carousel {
    width: 400px;
    height: 450px;
    position: relative;
    overflow: hidden;
  
    .views {
      .ant-carousel{
        .slick-dots{
          li{
            width: 3px;
            height: 3px;
            background: #ccc;
          }
        }
      }
      .view {
        width: 400px;
        height: 450px;
        position: relative;
  
        img {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: 160px;
        }
  
        .text {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: 40px;
          text-align: center;
          font-size: 1rem;
          color: rgba(0, 0, 0, 0.5);
          line-height: 1.3;
  
          span {
            font-weight: 600;
            font-size: 1.25rem;
            color: #000;
            line-height: 1;
          }
        }
      }
    }
  
    .indicators {
      position: absolute;
      display: inline-block;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      text-align: center;
  
      .indicator {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #eee;
        border-radius: 50%;
        margin: 0 2px;
      }
    }
  }
  
  .dividingLine {
    width: 1px;
    height: 340px;
    background: #f2f2f2;
    margin: 0 40px 0 0px;
  }
  
  .signin {
    width: 400px;
    text-align: center;
    box-sizing: border-box;
    // 标题
    .title {
      font-size: 1.8rem;
    }
    // 登录方式
    .types {
      width: 100%;
      height: 55px;
      line-height: 55px;
      margin: 30px 0;
      border: 2px solid transparent;
      border-radius: 8px;
      background-color: #ededed;
      box-sizing: border-box;
      position: relative;
      .type {
        width: calc(100% / 2);
        height: 51px;
        line-height: 51px;
        font-size: 14px;
        border-radius: 8px;
        background-color: transparent;
        color: #000;
        transition: all 0.5s ease;
        box-sizing: border-box;
        z-index: 5;
        position: absolute;
        &:nth-child(1) {
          left: 0;
        }
        &:nth-child(2) {
          right: 0;
        }
        &.typeActive {
          z-index: 4;
          background-color: #fff;
        }
        &.typeActiveLf {
          left: 50%;
          transform: translate3d(-100%, 0, 0);
        }
        &.typeActiveRt {
          right: 0%;
          transform: translate3d(0%, 0, 0);
        }
      }
      .typeCheckbox {
        width: 50%;
        height: 51px;
        opacity: 0;
        border-radius: 8px;
        position: absolute;
        z-index: 6;
        cursor: pointer;
      }
      .lt0{
        left: 0;
      }
      .rt0{
        right: 0;
      }
    }
    .buttonSubmit {
      width: 100%;
      height: 56px;
      border: none;
      border-radius: 8px;
      padding: 0;
      color: #fff;
      background-color: #e51429;
      box-shadow: 0 6px 16px rgba($color: #e51429, $alpha: 0.2);
      &:hover,
      &:foucs {
        border: none;
        color: #fff;
        background-color: #e51429;
      }
    }
    .footer {
      margin-right: 8px;
      color: #4c4c4c;
      font-size: 14px;
      > span {
        margin-right: 9px;
        opacity: 0.5;
      }
      > a {
        text-decoration: none;
        color: #4ca3f0;
      }
    }
  }